<idea-plugin>
  <depends>com.intellij.modules.rider</depends>
  <idea-version since-build="192.6584" until-build="192.*" />
  <id>Abc.MoqComplete.Rider</id>
  <name>MoqComplete</name>
  <version>1.2.9</version>
  <vendor url="https://github.com/Abc-Arbitrage/Abc.MoqComplete">ABC Arbitrage Asset Management</vendor>
  <description><![CDATA[
<p>Code completion for Moq: Provide completion for It.IsAny, Callback, suggest mock in constructor</p>
]]></description>
  <change-notes>
  </change-notes>
</idea-plugin>